<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <div class="col-lg-12 text-center">
                        <h4 class="service-heading text-muted"><i>Una nuova Agenzia<br><b><ins>" LabWeb-2.0-Agency "</b></ins></i></h4>
                        <div class="col-lg-12 text-center">
                             <p class="section-subheading-about text-muted large">Con gli strumenti che abbiamo a disposizione oggi, sviluppare un sito sembra un gioco da ragazzi.
                                <br>Eppure basta un errore per compromettere il risultato finale: che si tratti di un e-commerce o di un sito vetrina, occorre un lavoro accurato per garantire risultati eccellenti.<br>

                                 <br>Realizzare un sito web di successo richiede cura, perizia, professionalità, know how.<br>

                                 <br>La nostra Web Agency con sede a Roma, offre tecnologie e know how per gestire grandi e piccoli progetti web, dall’e-commerce per vendere online al portale con sito vetrina al blog associato. Un mondo di servizi per chi ama i lavori artigianali fatti a mano, dove niente, nemmeno il più piccolo dettaglio, è lasciato al caso. Inizia oggi.<br>
                                  <br>inizia da qui....</p>
                             <div class="col-lg-12 text-center">
                                  <h4 class="service-heading text-muted">Le Quattro regole d'oro<h4>
                             </div>         
                        </div>
                     </div>
                            
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1</h4>
                                    <h4 class="subheading">Valutazione e Strategia</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">La prima fase di ogni progetto, quella in cui si definisce il lavoro in base alle esigenze e aspettative del cliente. Hosting, url, target, obiettivi, keyword e tutto il necessario per sviluppare un sito di qualità !</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2</h4>
                                    <h4 class="subheading">Design e Sviluppo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Definito il progetto si passa allo step successivo, che prevede la realizzazione del design e lo sviluppo del sito web. Al fianco del cliente, suggeriamo sempre ogni scelta con trasparenza e rigore!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>3</h4>
                                    <h4 class="subheading">Test e Consegna</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Il momento tanto atteso è arrivato: è tempo di provare il sito web. Non resta che ultimare i lavori con un test approfondito, ultimo passaggio prima della consegna. Al cliente il piacere di sperimentare...</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>4</h4>
                                    <h4 class="subheading">Assistenza e Manutenzione</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">In ogni progetto web che si rispetti occorre prevedere un piano di assistenza e manutenzione per fare fronte a problematiche ordinarie e straordinarie. Tranquillo, c'è Good Working !!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Prova
                                    <br>Anche
                                    <br>TU!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
