<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include services.html %}
    {% include portfolio_grid.html %}
    {% include about.html %}
    {% include team.html %}
    <script type="text/javascript">
      var bannersnack_embed = {"hash":"bzjabi3cb","width":3000,"height":1500,"t":1537363934,"userId":38048975,"responsive":true,"type":"html5"};
    </script>
    <script type="text/javascript" src="//cdn.bannersnack.com/iframe/embed.js">
    </script>
    {% include clients.html %}
    {% include contact.html %}
    <!-- {% include contact2.html %}  -->
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>